<template>
  <div>
    <h1>Car id {{ id }}</h1>

    <button @click="goBackToCars" class="btn btn-sm btn-default mb-2">Back</button>
    <br>
    <router-link 
        class="btn btn-sm btn-info mt-2"
        tag="button"
        :to="{
                name: 'carFull', 
                params: {id: id}, 
                query: {name: 'Mazda', year: 2015},
                hash: '#scroll'
            }"
    >Full info
    </router-link>
    <hr>
    <router-view>

    </router-view>
  </div>
</template>

<script>
export default {
  data() {
    return {
      //id: this.$router.currentRoute.params['id']
      id: this.$route.params["id"]
    };
  },
  methods: {
      goBackToCars() {
          this.$router.push('/cars')
      }
  },
  watch: {
    $route(toR) {
      this.id = toR.params["id"];
    }
  },
  beforeRouterLeave(next) {
      if(window.confirm('Are you sure you want to leave?')){
          next()
      }else{
          next()
      }
  }
};
</script>