<template>
  <div class="row">
            <div class="col-sm-12 text-center mt-5">
                <div id="app">
                    <h1>{{ message }}</h1>
                    <form>
                        <div class="form-row">
                          <div class="form-group col-sm-4 offset-sm-4">
                            <label for="inputEmail4">URL</label>
                            <input v-model="search" type="email" class="form-control" id="inputEmail4" placeholder="Email">
                            <br>
                            <ul class="list-group" v-for="val in filterAccess" v-bind:key="val.id">
                                <li class="list-group-item">url: {{ val.url }}</li>
                                <li class="list-group-item">Login: {{ val.login }}</li>
                                <li class="list-group-item">Password: {{ val.password }}</li>
                                <br>
                            </ul>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
</template>

<script>
const access = [
    {
        url: "first",
        login: "someFirst",
        password: "somePass"
    
    },
    {
        url: "second",
        login: "someSec",
        password: "somePass"
    
    },
    {
        url: "third",
        login: "someThird",
        password: "somePass"
    
    }
]
export default {
  name: 'access',
  data(){
        return{
            message: 'Hello',
            access : access,
            search: ''
        }
    },
    computed: {
        filterAccess(){
            return this.access.filter(e => {
                return e.url.indexOf(this.search) !== -1
            })
        }
    }
}
</script>

