<template>
  <div class="container">
    <form class="pt-3" @submit.prevent="onSubmit">
      <div class="form-group">
        <label for="email">Email</label>
        <input 
            type="email" 
            id="email" 
            class="form-control"
            :class="{'is-invalid': $v.email.$error}"
            @blur="$v.email.$touch()"
            v-model="email" 
        />
        <div v-if="!$v.email.required" class="invalid-feedback">
            Email field is required
        </div>
        <div v-if="!$v.email.email" class="invalid-feedback">
            This field should be an email
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input 
            type="password" 
            id="password" 
            class="form-control"
            :class="{'is-invalid': $v.password.$error}"
            @blur="$v.password.$touch()"
            v-model="password" 
        />
        <div v-if="!$v.password.minLength" class="invalid-feedback">
            Min length of password {{ $v.password.$params.minLength.min }}. Now this is {{ password.length }}
        </div>    
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input 
            type="password" 
            id="confirmPassword" 
            class="form-control"
            :class="{'is-invalid': $v.confirmPassword.$error}"
            @blur="$v.confirmPassword.$touch()"
            v-model="confirmPassword" 
        />
        <div v-if="!$v.password.sameAs" class="invalid-feedback">
            Passwords should match
        </div>    
      </div>
      <button 
        class="btn btn-success"
        type="submit"
        :disabled="$v.$invalid"
      >Send</button>
    </form>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'
export default {
    mixins: [validationMixin],
    data(){
        return {
            email: '',
            password: '',
            confirmPassword: ''
        }
    },
    methods: {
        onSubmit(){
            console.log('Email:' + this.email);
            console.log('Password:' + this.password);
        }
    },
    validations: {
        email: {
            required,
            email,
            //uniqEmail: function(newEmail){
              //  if(newEmail === '') return true
                //return new Promise((resolve, reject)=>{
                  //  setTimeout(()=> {
                    //    const value = newEmail !== 'test@mail.ru'
                      //  resolve(value)
                    //}, 3000)
                //})
           // }
        },
        password: {
            minLength: minLength(6)
        },
        confirmPassword: {
            //sameAs: sameAs('password')
            sameAs: sameAs((vue)=>{
                return vue.password
            })

        }
    }
};
</script>