<template>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <router-link tag="li" exact class="nav-iterm" to="/" active-class="active">
              <a class="nav-link">Home</a>
            </router-link>
          <router-link tag="li" class="nav-iterm" to="/cars" active-class="active">
              <a class="nav-link">Car</a>
          </router-link>
          <router-link tag="li" class="nav-iterm" to="/car/3" active-class="active">
              <a class="nav-link">Car 3</a>
          </router-link>
          <router-link tag="li" class="nav-iterm" to="/car/4" active-class="active">
              <a class="nav-link">Car 4</a>
          </router-link>
        </ul>
      </div>
    </nav>

    <router-view></router-view>
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'
//import Access from './components/Access.vue'
//import ValidationComponent from './components/ValidationComponent.vue'

export default {};
</script>

<style>
</style>
